<div
  class="sticky z-10 flex justify-between bg-white px-6 py-3 md:top-4 md:mx-6 md:rounded-2xl"
>
  <div class="flex items-center gap-2">
    <img class="h-[43px]" src="/assets/logo.png" />
    <span class="text-h5 text-primary md:text-h4">喵立翰 Miao Li-Han</span>
  </div>
  <nav class="hidden gap-4 xl:flex">
    <ng-container *ngTemplateOutlet="nav"></ng-container>
  </nav>
  <div class="hidden items-center gap-4 md:flex">
    <a><object class="h-6 w-6" data="/assets/icons/facebook.svg"></object></a>
    <a><object class="h-6 w-6" data="/assets/icons/instergram.svg"></object></a>
    <a><object class="h-6 w-6" data="/assets/icons/youtube.svg"></object></a>
  </div>
</div>
<nav class="fixed bottom-0 z-10 flex w-full justify-around bg-white xl:hidden">
  <ng-container *ngTemplateOutlet="nav"></ng-container>
</nav>
<ng-template #nav>
  <a class="flex flex-col items-center gap-1 p-2 text-font-primary">
    <object class="h-6 w-6 xl:hidden" data="/assets/icons/user.svg"></object>
    <span class="text-[10px] xl:text-base">候選人主張</span>
  </a>
  <a class="flex flex-col items-center gap-1 p-2 text-font-primary">
    <object class="h-6 w-6 xl:hidden" data="/assets/icons/news.svg"></object>
    <span class="text-[10px] xl:text-base">最新活動</span>
  </a>
  <a class="flex flex-col items-center gap-1 p-2 text-font-primary">
    <object class="h-6 w-6 xl:hidden" data="/assets/icons/issue.svg"></object>
    <span class="text-[10px] xl:text-base">政策議題</span>
  </a>
  <a class="flex flex-col items-center gap-1 p-2 text-font-primary">
    <object class="h-6 w-6 xl:hidden" data="/assets/icons/donate.svg"></object>
    <span class="text-[10px] xl:text-base">小額捐款</span>
  </a>
  <a class="flex flex-col items-center gap-1 p-2 text-font-primary">
    <object class="h-6 w-6 xl:hidden" data="/assets/icons/mail.svg"></object>
    <span class="text-[10px] xl:text-base">民眾服務信箱</span>
  </a>
</ng-template>
