<header
  class="sticky z-10 flex justify-between bg-white px-6 py-3 md:top-4 md:mx-6 md:rounded-2xl"
>
  <a href="#main" class="flex items-center gap-2">
    <img class="h-[43px]" src="assets/logo.png" />
    <span class="text-h5 text-primary md:text-h4">喵立翰 Miao Li-Han</span>
  </a>
  <nav class="hidden gap-4 xl:flex">
    <ng-container *ngTemplateOutlet="nav"></ng-container>
  </nav>
  <div class="hidden items-center gap-4 md:flex">
    <a><app-icon [icon]="Icon.Facebook" [size]="Size.md"></app-icon></a>
    <a><app-icon [icon]="Icon.Instagram" [size]="Size.md"></app-icon></a>
    <a><app-icon [icon]="Icon.Youtube" [size]="Size.md"></app-icon></a>
  </div>
</header>
<nav class="fixed bottom-0 z-10 flex w-full justify-around bg-white xl:hidden">
  <ng-container *ngTemplateOutlet="nav"></ng-container>
</nav>
<ng-template #nav>
  <a
    href="#advocate"
    class="flex flex-col items-center gap-1 p-3 text-font-primary"
  >
    <app-icon class="xl:hidden" [icon]="Icon.User" [size]="Size.md"></app-icon>
    <span class="text-[10px] xl:text-base">候選人主張</span>
  </a>
  <a
    href="#lastest-event"
    class="flex flex-col items-center gap-1 p-3 text-font-primary"
  >
    <app-icon class="xl:hidden" [icon]="Icon.News" [size]="Size.md"></app-icon>
    <span class="text-[10px] xl:text-base">最新活動</span>
  </a>
  <a
    href="#policy-issue"
    class="flex flex-col items-center gap-1 p-3 text-font-primary"
  >
    <app-icon class="xl:hidden" [icon]="Icon.Issue" [size]="Size.md"></app-icon>
    <span class="text-[10px] xl:text-base">政策議題</span>
  </a>
  <a
    href="#donate-and-contact-us"
    class="flex flex-col items-center gap-1 p-3 text-font-primary"
  >
    <app-icon
      class="xl:hidden"
      [icon]="Icon.Donate"
      [size]="Size.md"
    ></app-icon>
    <span class="text-[10px] xl:text-base">小額捐款</span>
  </a>
  <a
    href="#donate-and-contact-us"
    class="flex flex-col items-center gap-1 p-3 text-font-primary"
  >
    <app-icon class="xl:hidden" [icon]="Icon.Mail" [size]="Size.md"></app-icon>
    <span class="text-[10px] xl:text-base">民眾服務信箱</span>
  </a>
</ng-template>
