@layer base {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-[#E5793B] from-[1.54%] to-[#FF4185] to-[97.86%];
  }
  .text-gradient-primary {
    @apply bg-gradient-to-r from-[#E5793B] from-[1.54%] to-[#FF4185] to-[97.86%] bg-clip-text text-transparent;
  }

  .icon-primary {
    filter: brightness(0) saturate(100%) invert(50%) sepia(46%) saturate(690%)
      hue-rotate(337deg) brightness(103%) contrast(79%);
  }

  .icon-slate {
    filter: brightness(0) saturate(100%) invert(20%) sepia(13%) saturate(1539%)
      hue-rotate(176deg) brightness(96%) contrast(83%);
  }

  .icon-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%)
      hue-rotate(32deg) brightness(107%) contrast(100%);
  }
}
