@font-face {
  font-family: MantouSans;
  font-weight: 400;
  src: url("../assets/fonts/MantouSans-Regular.ttf");
}

@layer base {
  body {
    @apply text-base text-slate-700;
  }
  .ellipsis-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 顯示的行數 */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
