<section
  class="w-screen overflow-hidden bg-white/90 px-4 py-16 md:px-9 xl:px-0 xl:py-[104px]"
>
  <div
    class="container m-auto flex flex-col gap-6 md:flex-row md:justify-between"
    data-aos="fade-left"
    data-aos-duration="1000"
  >
    <div
      class="flex min-h-[307px] grow flex-col rounded-[32px] bg-primary p-10 text-white xl:gap-5 xl:p-24"
    >
      <div class="flex flex-col gap-4">
        <h1 class="font-['MantouSans'] text-h1 xl:text-xl">小額支持喵喵</h1>
        <h5 class="text-h5 font-semibold">
          您的小筆捐款，是每隻毛孩未來的大大動力！
        </h5>
      </div>
      <div class="flex items-end justify-between">
        <app-button
          class="inline-block w-[152px]"
          [icon]="Icon.ArrowForward"
          [theme]="Theme.White"
          [size]="Size.md"
          (click)="openDonateDialog()"
          >小額捐款</app-button
        >
        <picture>
          <source srcset="assets/images/webp/image-11.webp" type="image/webp" />
          <img
            class="h-[105px] w-[102px] object-cover xl:h-[263px] xl:w-[254px]"
            src="assets/images/png/image-11.png"
            alt="小額捐款"
          />
        </picture>
      </div>
    </div>
    <div
      class="flex min-h-[307px] grow flex-col justify-between rounded-[32px] bg-slate-700 p-10 text-white xl:p-24"
    >
      <div class="flex flex-col gap-4">
        <h1 class="font-['MantouSans'] text-h1 xl:text-xl">民眾服務信箱</h1>
        <h5 class="text-h5 font-semibold">
          每一位市民的意見都是我們社區前進的原動力
        </h5>
      </div>
      <div>
        <app-button
          class="inline-block w-[152px]"
          [icon]="Icon.ArrowForward"
          [theme]="Theme.White"
          [size]="Size.md"
          (click)="openContactUsialog()"
          >填寫表單</app-button
        >
      </div>
    </div>
  </div>
</section>
