<section class="bg-white/90 px-4 py-16 md:px-9 xl:px-0 xl:py-[104px]">
  <div class="container m-auto">
    <app-title tag="LATEST EVENTS" title="最新活動"></app-title>
    <div class="flex flex-col gap-6 pt-10 xl:flex-row xl:pt-16">
      <div class="xl:w-1/2">
        <picture class="inline-flex items-center">
          <source
            [srcset]="lastestEventList[0].imgUrl.webp"
            type="image/webp"
          />
          <img
            class="h-[241px] w-[992px] overflow-hidden rounded-2xl object-cover md:h-[443px] xl:h-[413px] xl:w-[688px]"
            [src]="lastestEventList[0].imgUrl.png"
            [alt]="lastestEventList[0].title"
          />
        </picture>
        <div class="flex flex-col gap-2 pt-4">
          <div class="text-small text-gray-500">
            {{ lastestEventList[0].date | date: "yyyy/MM/dd" }}
          </div>
          <h5 class="text-h5">{{ lastestEventList[0].title }}</h5>
          <div class="text-small">
            {{ lastestEventList[0].article[0].desc }}
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 xl:w-1/2">
        <ng-container
          *ngFor="let lastestEvent of lastestEventList; let i = index"
        >
          <div *ngIf="i > 0" class="flex gap-4">
            <picture
              class="inline-flex h-[112px] w-[109px] items-center overflow-hidden rounded-lg md:h-[99px] xl:h-[134px] xl:w-[201px]"
            >
              <source [srcset]="lastestEvent.imgUrl.webp" type="image/webp" />
              <img
                class="h-full w-full object-cover"
                [src]="lastestEvent.imgUrl.png"
                [alt]="lastestEvent.title"
              />
            </picture>
            <div
              class="flex max-w-[calc(100%-125px)] flex-col gap-2 xl:max-w-[calc(100%-217px)]"
            >
              <div class="text-small text-gray-500">
                {{ lastestEvent.date | date: "yyyy/MM/dd" }}
              </div>
              <h5 class="text-h6 xl:text-h5">{{ lastestEvent.title }}</h5>
              <div class="ellipsis-text text-small/5 text-slate-700">
                {{ lastestEvent.article[0].desc }}
              </div>
            </div>
          </div>
        </ng-container>
        <div>
          <app-button
            [theme]="Theme.Slate"
            [icon]="Icon.ArrowForward"
            (click)="openPostDialog()"
            >查看更多</app-button
          >
        </div>
      </div>
    </div>
  </div>
</section>
