<div class="bg-bg-1 md:pt-4">
  <app-header></app-header>
  <main id="main" class="flex flex-col items-center justify-end bg-white/90">
    <div
      class="text-gradient-primary primary-title flex w-72 flex-col items-center justify-center pt-8 font-['MantouSans'] text-2xl-xs xl:w-full xl:flex-row xl:gap-4 xl:pt-24 xl:text-3xl"
    >
      <span>台灣的明天</span>
      <span>喵先鋪路</span>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-4 pt-4">
      <h3
        class="inline-block h-fit rounded-lg bg-slate-700 px-3 py-2 text-h5 text-white xl:text-h3"
      >
        2024 立委參選人
      </h3>
      <div class="flex items-center gap-4 rounded-2xl bg-white p-3 shadow-md">
        <h2
          class="bg-gradient-primary inline-block h-[40px] w-[40px] rounded-full text-center align-middle text-h2 leading-[40px] text-white xl:h-[50px] xl:w-[50px] xl:leading-[50px]"
        >
          3
        </h2>
        <h1 class="text-h3 text-primary xl:text-h1">喵立翰 Miao Li-Han</h1>
      </div>
    </div>
    <picture class="pt-6">
      <source srcset="assets/images/webp/image-12.webp" type="image/webp" />
      <img
        class="max-w-[327px] md:max-w-[343px] xl:max-w-[680px]"
        src="assets/images/png/image-12.png"
        alt="候選人"
      />
    </picture>
    <div class="w-full overflow-hidden bg-primary p-2">
      <div
        class="flex animate-marquee gap-6 whitespace-nowrap font-['MantouSans'] text-2xl-xs text-white xl:text-2xl"
      >
        <span>為喵星人，護台灣！</span>
        <span>從喵的眼中，看見台灣</span>
        <span>喵的未來，人的希望</span>
      </div>
    </div>
  </main>
  <app-advocate id="advocate"></app-advocate>
  <app-lastest-event id="lastest-event"></app-lastest-event>
  <app-policy-issue id="policy-issue"></app-policy-issue>
  <section
    id="donate-and-contact-us"
    class="bg-white/90 px-4 py-16 md:px-9 xl:px-0 xl:py-[104px]"
  >
    <div
      class="container m-auto flex flex-col gap-6 md:flex-row md:justify-between"
    >
      <div
        class="flex min-h-[307px] grow flex-col rounded-[32px] bg-primary p-10 text-white xl:gap-5 xl:p-24"
      >
        <div class="flex flex-col gap-4">
          <h1 class="xl:text-xl font-['MantouSans'] text-h1">小額支持喵喵</h1>
          <h5 class="text-h5 font-semibold">
            您的小筆捐款，是每隻毛孩未來的大大動力！
          </h5>
        </div>
        <div class="flex items-end justify-between">
          <app-button [icon]="Icon.ArrowForward" [theme]="Theme.White"
            >小額捐款</app-button
          >
          <picture>
            <source
              srcset="assets/images/webp/image-11.webp"
              type="image/webp"
            />
            <img
              class="h-[105px] w-[102px] object-cover xl:h-[263px] xl:w-[254px]"
              src="assets/images/png/image-11.png"
              alt="小額捐款"
            />
          </picture>
        </div>
      </div>
      <div
        class="flex min-h-[307px] grow flex-col justify-between rounded-[32px] bg-slate-700 p-10 text-white xl:p-24"
      >
        <div class="flex flex-col gap-4">
          <h1 class="xl:text-xl font-['MantouSans'] text-h1">民眾服務信箱</h1>
          <h5 class="text-h5 font-semibold">
            每一位市民的意見都是我們社區前進的原動力
          </h5>
        </div>
        <div>
          <app-button [icon]="Icon.ArrowForward" [theme]="Theme.White"
            >填寫表單</app-button
          >
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white/90 px-4 py-16 md:px-9 xl:px-0 xl:py-[104px]">
    <div class="container m-auto flex flex-col items-center gap-6">
      <div
        class="text-gradient-primary primary-title flex w-72 flex-col items-center justify-center font-['MantouSans'] text-2xl-xs xl:w-full xl:flex-row xl:gap-4 xl:text-3xl"
      >
        <span>台灣的明天</span>
        <span>喵先鋪路</span>
      </div>
      <div class="t-4 flex justify-center">
        <div class="flex items-center gap-4 rounded-2xl bg-white p-3 shadow-md">
          <h2
            class="bg-gradient-primary inline-block h-[40px] w-[40px] rounded-full text-center align-middle text-h2 leading-[40px] text-white xl:h-[50px] xl:w-[50px] xl:leading-[50px]"
          >
            3
          </h2>
          <h1 class="text-h3 text-primary xl:text-h1">喵立翰 Miao Li-Han</h1>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
