<main class="relative flex flex-col items-center justify-end bg-white/90">
  <div
    data-aos="fade-zoom-in"
    data-aos-duration="1000"
    data-aos-delay="1000"
    class="text-gradient-primary primary-title flex w-72 flex-col items-center justify-center pt-8 font-['MantouSans'] text-2xl-xs xl:w-full xl:flex-row xl:gap-4 xl:pt-24 xl:text-3xl"
  >
    <span>台灣的明天</span>
    <span>喵先鋪路</span>
  </div>
  <div
    class="flex flex-wrap items-center justify-center gap-4 pt-4"
    data-aos="fade-zoom-in"
    data-aos-duration="1000"
    data-aos-delay="1500"
  >
    <h3
      class="inline-block h-fit rounded-lg bg-slate-700 px-3 py-2 text-h5 text-white xl:text-h3"
    >
      2024 立委參選人
    </h3>
    <div class="flex items-center gap-4 rounded-2xl bg-white p-3 shadow-md">
      <h2
        class="bg-gradient-primary inline-block h-[40px] w-[40px] rounded-full text-center align-middle text-h2 leading-[40px] text-white xl:h-[50px] xl:w-[50px] xl:leading-[50px]"
      >
        3
      </h2>
      <h1 class="text-h3 text-primary xl:text-h1">喵立翰 Miao Li-Han</h1>
    </div>
  </div>
  <div
    class="relative flex h-[254px] w-full max-w-[343px] justify-center pt-6 xl:h-[537px] xl:w-[723px] xl:max-w-none"
  >
    <div
      class="bg-gradient-main absolute bottom-0 h-3/4 w-full rounded-t-full"
      data-aos="fade-zoom-in"
      data-aos-duration="1000"
      data-aos-delay="2000"
    ></div>
    <img
      class="animate-float3 absolute bottom-[5%] left-0 max-w-[20%]"
      src="assets/images/svg/cloud-1.svg"
      alt="雲"
    />
    <img
      class="animate-float2 absolute bottom-[42%] left-[3%] max-w-[20%]"
      src="assets/images/svg/cloud-2.svg"
      alt="雲"
    />
    <img
      class="animate-float3 absolute bottom-[63%] left-[30%] max-w-[20%]"
      src="assets/images/svg/cloud-3.svg"
      alt="雲"
    />
    <img
      class="animate-float2 absolute bottom-[30%] right-[21%] max-w-[20%]"
      src="assets/images/svg/cloud-4.svg"
      alt="雲"
    />
    <img
      class="animate-float3 absolute bottom-[13%] right-0 max-w-[20%]"
      src="assets/images/svg/cloud-5.svg"
      alt="雲"
    />
    <picture
      class="z-10 flex justify-center"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="2000"
    >
      <source srcset="assets/images/webp/main-1.webp" type="image/webp" />
      <img
        class="h-full max-w-[327px] md:max-w-[343px] xl:max-w-[420px]"
        src="assets/images/png/main-1.png"
        alt="候選人"
      />
    </picture>
  </div>

  <div class="w-full overflow-hidden bg-primary p-2">
    <div
      class="flex animate-marquee gap-6 whitespace-nowrap font-['MantouSans'] text-2xl-xs text-white xl:text-2xl"
    >
      <span>為喵星人，護台灣！</span>
      <span>從喵的眼中，看見台灣</span>
      <span>喵的未來，人的希望</span>
    </div>
  </div>

  <div class="absolute bottom-24 flex justify-center">
    <div
      class="z-10 flex gap-4 rounded-xl bg-white px-10 py-2 xl:hidden"
      data-aos="fade-zoom-in"
      data-aos-duration="1000"
      data-aos-delay="2000"
    >
      <a><app-icon [icon]="Icon.Facebook" [size]="Size.md"></app-icon></a>
      <a><app-icon [icon]="Icon.Instagram" [size]="Size.md"></app-icon></a>
      <a><app-icon [icon]="Icon.Youtube" [size]="Size.md"></app-icon></a>
    </div>
  </div>
</main>
